/*css file for index.html*/

#lyrics{
    position: absolute;
    top: 80%;
    font-size: 20px;
    font-family: "OpenDyslexicAlta";
    display: block;
    right: 50%;
    left: 5%;
}
body{
    background-color: rgb(216, 205, 205);
}
h1{
    font-family: "OpenDyslexicAlta";
    margin-left: 9%;
}