/* bottom right image*/
@media screen and (min-width: 1200px) and (max-width: 1400px){
    .homer {
        background: url("homer.jpg") 300px 300px;
        width: 290px;
        height: 295px;
        color: pink;
    }
}
/*bottom left image*/
@media screen and (min-width: 1200px) and (max-width: 1400px){
    .homer {
        background: url("homer.jpg") 300px 0px;
        width: 290px;
        height: 295px;
        
    }
}
/*top right image*/
@media screen and (min-width: 1400px) and (max-width: 1600px){
    .homer {
        background: url("homer.jpg") 0px 300px;
        width: 325px;
        height: 325px;
        
    }
}

/*top left image*/
@media screen and (min-width: 1600px){
    .homer {
        background: url("homer.jpg");
        width: 290px;
        height: 295px;
       
    }
}


